#headerIMG {
  text-align: center;
}

.navbar-brand {
  text-align: center;
  width: 450px;
  height: 200px;
  object-fit: contain;
}

.textbox {
  text-align: center;
  font-weight: arial;
}

.setumei_text {
  font-size: 140%;
}

#KanaConvert 

#KanaInput {
  color: #0D0D0D;
  font-size: 130%;
  width: 400px;
  height: 35px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #8C6D51;
}

#ConvertButton {
  font-size: 115%;
  color: #0D0D0D;
  width: 60px;
  height: 38px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #A69A97;
  margin-top:auto;
}
#ConvertButton:active {
  border: 2px solid #605a59;
}

#result-area {
  font-weight: arial;
  font-size: 130%;
  color: #272625;
}

#Result {
  color: #272625;
  font-size: 130%;
  width: 600px;
  height: 100px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #D9B596;
}






.tab {
  width: 500px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

.tab_class {
  width: calc(100%/5);
  height: 50px;
  background-color: #fd0000;
  background-blend-mode: 5px;
  /*border-radius: 5px;*/
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
  
  border-radius: 5px;
}
 
.content_class {
  display: none;
  width: 100%;
  border-radius: 5px;
  border-bottom: 3px solid #eee;
  border-right: 3px solid #eee;
  border-left: 3px solid #eee;
  border-top: 3px solid #eee;
  
  padding: 30px 10px;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}