#headerIMG {
  text-align: center;
}

.navbar-brand {
  text-align: center;
  width: 450px;
  height: 200px;
  object-fit: contain;
}

.textbox {
  text-align: center;
  font-weight: arial;
}

.setumei_text {
  font-size: 140%;
}

#KanaConvert 

#KanaInput {
  color: #0D0D0D;
  font-size: 130%;
  width: 360px;
  height: 32px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #8C6D51;
}

#ConvertButton {
  font-size: 115%;
  color: #0D0D0D;
  width: 60px;
  height: 36px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #A69A97;
  margin-top:auto;
}
#ConvertButton:active {
  border: 2px solid #605a59;
}

#result-area {
  font-weight: arial;
  font-size: 130%;
  color: #272625;
}

#Result {
  color: #272625;
  font-size: 130%;
  width: 450px;
  height: 50px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 2px solid #D9B596;
}